# Dependencies
node_modules/

# Database files (recreated on startup with seed data)
server/localconnect.db
server/localconnect.db-wal
server/localconnect.db-shm

# Uploaded files
server/uploads/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
